examples/1.01/DSM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="xmldsig-core-schema_v1.01.xsd"
		namespace="http://www.w3.org/2000/09/xmldsig#" />
	<xs:element name="sisobraPref">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="dsm">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="infDsm">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ano" type="xs:integer" />
										<xs:element name="mes">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:whiteSpace value="preserve" />
													<xs:enumeration value="01" />
													<xs:enumeration value="02" />
													<xs:enumeration value="03" />
													<xs:enumeration value="04" />
													<xs:enumeration value="05" />
													<xs:enumeration value="06" />
													<xs:enumeration value="07" />
													<xs:enumeration value="08" />
													<xs:enumeration value="09" />
													<xs:enumeration value="10" />
													<xs:enumeration value="11" />
													<xs:enumeration value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" use="required">
										<xs:annotation>
											<xs:documentation>Preenchido com o campo ano + mês
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="id[0-9]{6}" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element ref="ds:Signature" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required">
				<xs:annotation>
					<xs:documentation>Versão do leiaute do lote</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve" />
						<xs:pattern value="1\.01" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>