examples/1.01/LeiauteAlteraSituacao.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xmldsig-core-schema_v1.01.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:complexType name="TAlteraSituacao">
    <xs:sequence>
      <xs:element name="infDocumento">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="tipoDocumento">
              <xs:annotation>
                <xs:documentation>
						Tipo de alvará:
						
						- alvará
						- habite-se
                    	</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="preserve" />
                  <xs:enumeration value="alvara" />
                  <xs:enumeration value="habitese" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="numero">
              <xs:annotation>
                <xs:documentation>
						Número do documento (alvará ou habite-se)
                    	</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="situacao">
              <xs:annotation>
                <xs:documentation>
						- cancelado
						- reativado
                    	</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="preserve" />
                  <xs:enumeration value="cancelado" />
                  <xs:enumeration value="reativado" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="numeroProtocolo">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="26" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="ano">
              <xs:simpleType>
                <xs:restriction base="xs:positiveInteger">
                  <xs:totalDigits value="4" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="mes">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="preserve" />
                  <xs:enumeration value="01" />
                  <xs:enumeration value="02" />
                  <xs:enumeration value="03" />
                  <xs:enumeration value="04" />
                  <xs:enumeration value="05" />
                  <xs:enumeration value="06" />
                  <xs:enumeration value="07" />
                  <xs:enumeration value="08" />
                  <xs:enumeration value="09" />
                  <xs:enumeration value="10" />
                  <xs:enumeration value="11" />
                  <xs:enumeration value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Id" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="id[0-9]{7}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element ref="ds:Signature" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>