examples/1.01/LoteAlvaraHabitese.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="LeiauteAlvara.xsd" />
  <xs:include schemaLocation="LeiauteHabitese.xsd" />
  <xs:include schemaLocation="LeiauteAlteraSituacao.xsd" />
  <xs:element name="sisobraPref">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="50" name="Alvara" type="TAlvara">
            <xs:annotation>
              <xs:documentation>Alvará</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="50" name="Habitese" type="THabitese">
            <xs:annotation>
              <xs:documentation>Habitese</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="10" name="AlteraSituacao" type="TAlteraSituacao">
            <xs:annotation>
              <xs:documentation>Alteração de situação</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="50" name="Habitese" type="THabitese">
            <xs:annotation>
              <xs:documentation>Habitese</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="10" name="AlteraSituacao" type="TAlteraSituacao">
            <xs:annotation>
              <xs:documentation>Alteração de situação</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="10" name="AlteraSituacao" type="TAlteraSituacao">
            <xs:annotation>
              <xs:documentation>Alteração de situação</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="versao" use="required">
        <xs:annotation>
          <xs:documentation>Versão do leiaute do lote</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve" />
            <xs:pattern value="1\.01" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>