examples/1.01/retornoDSM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.6.1440 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Notificacao.xsd" />
  <xs:element name="retSisobraPref">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="dsm">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codRetorno" type="xs:string" />
              <xs:element name="descricao" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="protocolo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ano" type="xs:integer" />
              <xs:element minOccurs="0" maxOccurs="1" name="mes">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="preserve" />
                    <xs:enumeration value="01" />
                    <xs:enumeration value="02" />
                    <xs:enumeration value="03" />
                    <xs:enumeration value="04" />
                    <xs:enumeration value="05" />
                    <xs:enumeration value="06" />
                    <xs:enumeration value="07" />
                    <xs:enumeration value="08" />
                    <xs:enumeration value="09" />
                    <xs:enumeration value="10" />
                    <xs:enumeration value="11" />
                    <xs:enumeration value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Notificacao" type="TNotificacao" />
      </xs:sequence>
      <xs:attribute name="versao" use="required">
        <xs:annotation>
          <xs:documentation>Versão do leiaute do lote</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve" />
            <xs:pattern value="1\.01" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>